body {
  background: url(/images/background.jpg);
}

#wrapper {
  width: 345px;
  margin: 100px auto 30px;
}

header h1 {
  font: 100px/0px 'MisoRegular', Arial, sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: #222 3px 3px 7px;
}

article #search_form {
  text-align: center;
}

article #search_form input[type=text] {
  width: 335px;
  height: 28px;
  padding: 0 5px;
  font: 12px Arial, sans-serif;
  letter-spacing: 2px;
  color: white;
  background: #303030;
  border: 0;
  border-radius: 4px;
  box-shadow:inset 0 0 1px #000000;
  outline: 0;
  margin: 100px 0 20px;
}

article #search_form input[type=submit] {
  display: none;
}

article #result {
  font: 16px 'MisoRegular', Arial, sans-serif;
  color: white;
  line-height: 120%;
  letter-spacing: 2px;
  text-align: justify;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

article #result.blank {
  opacity: 0;
}

@font-face {
    font-family: 'MisoLight';
    src: url('miso-light-webfont.eot');
    src: url('miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-light-webfont.woff') format('woff'),
         url('miso-light-webfont.ttf') format('truetype'),
         url('miso-light-webfont.svg#MisoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoRegular';
    src: url('miso-regular-webfont.eot');
    src: url('miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-regular-webfont.woff') format('woff'),
         url('miso-regular-webfont.ttf') format('truetype'),
         url('miso-regular-webfont.svg#MisoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoBold';
    src: url('miso-bold-webfont.eot');
    src: url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-bold-webfont.woff') format('woff'),
         url('miso-bold-webfont.ttf') format('truetype'),
         url('miso-bold-webfont.svg#MisoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
